/** NOTE: breakpoints front radix-ui: https://www.radix-ui.com/themes/docs/theme/breakpoints
  * initial: Phones (portrait)
  * xxs: Phones (landscape)
  * xs: Phones (landscape)
  * sm: Tablets (portrait)
  * md: Tablets (landscape)
  * lg: Laptops
  * xl: Desktops
  * xxl: Wide Displays
  */
$xxs: 460px;
$xs: 520px;
$sm: 768px;
$md: 1024px;
$lg: 1280px; // HD
$xl: 1640px;
$xxl: 1920px; // FullHD
$xxxl: 2560px; // QuadHD or 2K
