.radix-themes {
  /* COLORS ========= */
  --color-panel: var(--gray-4);
  --color-surface: var(--gray-6);

  /* Aliases */
  --white: var(--c-white);
  --c-solid-white: var(--c-white);
  --black: var(--c-black);
  --gray: var(--gray-8);
  --green: var(--green-10);
  --red: var(--red-10);
  --orange: var(--orange-10);
  --yellow: var(--yellow-10);
  --blue: var(--blue-10);
  --cyan: var(--cyan-10);
  --purple: var(--purple-10);
  --pink: var(--pink-10);
  --plum: var(--plum-10);
  --violet: var(--violet-10);
  --lime: var(--c-a-lime);

  /* game modes' colors */
  --c-mode: var(--gray); // NOTE: variable color for the active mode
  --c-x1000: var(--c-a-red);
  --c-bulls-eye: var(--c-a-green);
  --c-setups: var(--c-a-blue);
  --c-up-down: var(--c-a-lazur);
  --c-one-vs-one: var(--c-a-lavender);
  --c-rewards: var(--c-a-pink);

  /* notification colors */
  --c-error: var(--pink);
  --c-success: var(--green);
  --c-info: var(--cyan);
  --c-warning: var(--yellow);

  /* Colors from UI layout */
  --c-black: #0c0b0f;
  --c-black-alpha: #0c0b0f66; // UI layout: main black 50%
  --c-black-alpha-1: var(--c-black-alpha);
  --c-black-alpha-2: #0c0b0f33; // UI layout: main black 20%
  --c-solid-black: #000;
  --c-white: #fff;
  --c-white-alpha-1: #fff6;
  --c-white-alpha-2: #fff3;
  --c-gray-20: #c1b8d8;
  --c-gray-40: #9990b0;
  --c-gray-60: #625c77;
  --c-gray-70: #524e60;
  --c-gray-80: #2a2831;
  --c-gray-90: #201e27;
  --c-gray-100: #16141d;

  /* Accent colors from UI layout */
  --c-a-red: #fea490;
  --c-a-orange: #ffc26c;
  --c-a-lime: #ccf994;
  --c-a-yellow: var(--c-a-lime);
  --c-a-green: #5ff4ad;
  --c-a-green-alpha: #5ff4ad80;
  --c-a-light-blue: #d1fffe;
  --c-a-snow: var(--c-a-light-blue);
  --c-a-lazur: #3ff0ed;
  --c-a-blue: #7cb1ff;
  --c-a-sky: #9baff8;
  --c-a-lavender: #d2adff;
  --c-a-purple: #d561ff;
  --c-a-violet: #a4a7ff;
  --c-a-pink: #ff66f0;
  --c-a-pink-alpha: #ff66f080;
  --c-a-pink-dark: #8e438a;
  --c-a-mauve: var(--c-a-pink-dark);

  /* Generated shades for Radix theme */

  /* NOTE: compatibility map between Radix gray colors and UI layout gray colors */
  --gray-12: #d9d6e3; // generated
  --gray-11: var(--c-gray-20);
  --gray-10: #aaa1c1; // generated
  --gray-9: var(--c-gray-40);
  --gray-8: #767a98; // generated
  --gray-7: var(--c-gray-60);
  --gray-6: var(--c-gray-70);
  --gray-5: var(--c-gray-80);
  --gray-4: var(--c-gray-90);
  --gray-3: var(--c-gray-100);
  --gray-2: #13121a;
  --gray-1: var(--c-black); // UI layout: main black

  /* Green */
  --green-12: #8df7c4;
  --green-11: #75f5b7;
  --green-10: var(--c-a-green); /* original from UI */
  --green-9: #45f29e;
  --green-8: #2df092;
  --green-7: #15ef86;
  --green-6: #0fdb79;
  --green-5: #0ec46c;
  --green-4: #0cac5e;
  --green-3: #0a9451;
  --green-2: #097c44;
  --green-1: #076437;

  /* Red */
  --red-12: #fecdc2;
  --red-11: #feb9a9;
  --red-10: var(--c-a-red); /* original from UI */
  --red-9: #fe8f77;
  --red-8: #fd7b5d;
  --red-7: #fd6644;
  --red-6: #fd512b;
  --red-5: #fd3d12;
  --red-4: #f22e02;
  --red-3: #d92a02;
  --red-2: #c02502;
  --red-1: #a72002;

  /* Orange */
  --orange-12: #ffd6a3;
  --orange-11: #ffb56c;
  --orange-10: var(--c-a-orange); /* original from UI */
  --orange-9: #ffab63;
  --orange-8: #ff9a63;
  --orange-7: #ff8f63;
  --orange-6: #ff7f63;
  --orange-5: #ff6f63;
  --orange-4: #ff5f63;
  --orange-3: #ff4f63;
  --orange-2: #ff3f63;
  --orange-1: #ff2f63;

  /* Yellow */
  --yellow-12: #e3fcc5;
  --yellow-11: #d8faad;
  --yellow-10: var(--c-a-yellow); /* original from UI */
  --yellow-9: #c0f77d;
  --yellow-8: #b5f665;
  --yellow-7: #a9f54d;
  --yellow-6: #9df335;
  --yellow-5: #92f21c;
  --yellow-4: #85e70d;
  --yellow-3: #77cf0c;
  --yellow-2: #6ab70b;
  --yellow-1: #5c9f09;

  /* Blue */

  --blue-12: #a7c9ff;
  --blue-11: #8fbfff;
  --blue-10: var(--c-a-blue); /* original from UI */
  --blue-9: #6a9ff2;
  --blue-8: #588de5;
  --blue-7: #467bd8;
  --blue-6: #3469cb;
  --blue-5: #2257be;
  --blue-4: #1045b1;
  --blue-3: #0e3e9f;
  --blue-2: #0c378d;
  --blue-1: #0a307b;

  /* Cyan */
  --cyan-12: #6cf4f2;
  --cyan-11: #54f2f0;
  --cyan-10: var(--c-a-lazur); /* original from UI */
  --cyan-9: #25efeb;
  --cyan-8: #11e8e5;
  --cyan-7: #10d1cd;
  --cyan-6: #0eb9b6;
  --cyan-5: #0ca19f;
  --cyan-4: #0a8a87;
  --cyan-3: #097270;
  --cyan-2: #075a59;
  --cyan-1: #054241;

  /* Purple */
  --purple-12: #cbd5fb;
  --purple-11: #b3c2fa;
  --purple-10: var(--c-a-sky); /* original from UI */
  --purple-9: #839cf6;
  --purple-8: #6b89f5;
  --purple-7: #5376f3;
  --purple-6: #3b63f1;
  --purple-5: #2450f0;
  --purple-4: #103fea;
  --purple-3: #0f39d2;
  --purple-2: #0d32ba;
  --purple-1: #0b2ca2;

  /* Pink */
  --pink-12: #ff99f5;
  --pink-11: #ff80f2;
  --pink-10: var(--c-a-pink); /* original from UI */
  --pink-9: #ff4ded;
  --pink-8: #ff33eb;
  --pink-7: #ff1ae8;
  --pink-6: #ff00e6;
  --pink-5: #e600cf;
  --pink-4: #cc00b8;
  --pink-3: #b300a1;
  --pink-2: #99008a;
  --pink-1: #800073;

  /* Plum */
  --plum-12: #eee0ff;
  --plum-11: #e0c7ff;
  --plum-10: var(--c-a-lavender); /* original from UI */
  --plum-9: #c494ff;
  --plum-8: #b67aff;
  --plum-7: #a861ff;
  --plum-6: #9a47ff;
  --plum-5: #8c2eff;
  --plum-4: #7e14ff;
  --plum-3: #7000fa;
  --plum-2: #6500e0;
  --plum-1: #5a00c7;

  /* Violet */
  --violet-12: #e3d9ff;
  --violet-11: #d1c2ff;
  --violet-10: var(--c-a-violet); /* original from UI */
  --violet-9: #8c8fff;
  --violet-8: #7476ff;
  --violet-7: #5c5fff;
  --violet-6: #4447ff;
  --violet-5: #2c2fff;
  --violet-4: #1416ff;
  --violet-3: #0f0fda;
  --violet-2: #0b0bb3;
  --violet-1: #07078c;

  /* Sky */
  --sky-12: #c1b8d8;
  --sky-11: #b3c2fa;
  --sky-10: var(--c-a-sky); /* original from UI */
  --sky-9: #7d9ff2;
  --sky-8: #6b8ff2;
  --sky-7: #5a7ff2;
  --sky-6: #487ff2;
  --sky-5: #376ff2;
  --sky-4: #265ff2;
  --sky-3: #154ff2;
  --sky-2: #043ff2;
  --sky-1: #0030e0;

  /* accent color maps for Radix theme */
  [data-accent-color='green'] {
    --accent-a12: var(--green-12);
    --accent-a11: var(--green-11);
    --accent-a10: var(--green-10);
    --accent-a9: var(--green-9);
    --accent-a8: var(--green-8);
    --accent-a7: var(--green-7);
    --accent-a6: var(--green-6);
    --accent-a5: var(--green-5);
    --accent-a4: var(--green-4);
    --accent-a3: var(--green-3);
    --accent-a2: var(--green-2);
    --accent-a1: var(--green-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='red'] {
    --accent-a12: var(--red-12);
    --accent-a11: var(--red-11);
    --accent-a10: var(--red-10);
    --accent-a9: var(--red-9);
    --accent-a8: var(--red-8);
    --accent-a7: var(--red-7);
    --accent-a6: var(--red-6);
    --accent-a5: var(--red-5);
    --accent-a4: var(--red-4);
    --accent-a3: var(--red-3);
    --accent-a2: var(--red-2);
    --accent-a1: var(--red-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='orange'] {
    --accent-12: var(--orange-12);
    --accent-11: var(--orange-11);
    --accent-10: var(--orange-10);
    --accent-9: var(--orange-9);
    --accent-8: var(--orange-8);
    --accent-7: var(--orange-7);
    --accent-6: var(--orange-6);
    --accent-5: var(--orange-5);
    --accent-4: var(--orange-4);
    --accent-3: var(--orange-3);
    --accent-2: var(--orange-2);
    --accent-1: var(--orange-1);

    // TODO: use the color-mix() css function to get the alpha values
    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='yellow'] {
    --accent-12: var(--yellow-12);
    --accent-11: var(--yellow-11);
    --accent-10: var(--yellow-10);
    --accent-9: var(--yellow-9);
    --accent-8: var(--yellow-8);
    --accent-7: var(--yellow-7);
    --accent-6: var(--yellow-6);
    --accent-5: var(--yellow-5);
    --accent-4: var(--yellow-4);
    --accent-2: var(--yellow-3);
    --accent-3: var(--yellow-2);
    --accent-1: var(--yellow-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='blue'] {
    --accent-a12: var(--blue-12);
    --accent-a11: var(--blue-11);
    --accent-a10: var(--blue-10);
    --accent-a9: var(--blue-9);
    --accent-a8: var(--blue-8);
    --accent-a7: var(--blue-7);
    --accent-a6: var(--blue-6);
    --accent-a5: var(--blue-5);
    --accent-a4: var(--blue-4);
    --accent-a3: var(--blue-3);
    --accent-a2: var(--blue-2);
    --accent-a1: var(--blue-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='cyan'] {
    --accent-a12: var(--cyan-12);
    --accent-a11: var(--cyan-11);
    --accent-a10: var(--cyan-10);
    --accent-a9: var(--cyan-9);
    --accent-a8: var(--cyan-8);
    --accent-a7: var(--cyan-7);
    --accent-a6: var(--cyan-6);
    --accent-a5: var(--cyan-5);
    --accent-a4: var(--cyan-4);
    --accent-a3: var(--cyan-3);
    --accent-a2: var(--cyan-2);
    --accent-a1: var(--cyan-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='purple'] {
    --accent-a12: var(--purple-12);
    --accent-a11: var(--purple-11);
    --accent-a10: var(--purple-10);
    --accent-a9: var(--purple-9);
    --accent-a8: var(--purple-8);
    --accent-a7: var(--purple-7);
    --accent-a6: var(--purple-6);
    --accent-a5: var(--purple-5);
    --accent-a4: var(--purple-4);
    --accent-a3: var(--purple-3);
    --accent-a2: var(--purple-2);
    --accent-a1: var(--purple-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='pink'] {
    --accent-a12: var(--pink-12);
    --accent-a11: var(--pink-11);
    --accent-a10: var(--pink-10);
    --accent-a9: var(--pink-9);
    --accent-a8: var(--pink-8);
    --accent-a7: var(--pink-7);
    --accent-a6: var(--pink-6);
    --accent-a5: var(--pink-5);
    --accent-a4: var(--pink-4);
    --accent-a3: var(--pink-3);
    --accent-a2: var(--pink-2);
    --accent-a1: var(--pink-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='plum'] {
    --accent-a12: var(--plum-12);
    --accent-a11: var(--plum-11);
    --accent-a10: var(--plum-10);
    --accent-a9: var(--plum-9);
    --accent-a8: var(--plum-8);
    --accent-a7: var(--plum-7);
    --accent-a6: var(--plum-6);
    --accent-a5: var(--plum-5);
    --accent-a4: var(--plum-4);
    --accent-a3: var(--plum-3);
    --accent-a2: var(--plum-2);
    --accent-a1: var(--plum-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent);
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent);
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent);
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent);
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent);
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent);
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent);
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent);
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
  [data-accent-color='violet'] {
    --accent-a12: var(--violet-12);
    --accent-a11: var(--violet-11);
    --accent-a10: var(--violet-10);
    --accent-a9: var(--violet-9);
    --accent-a8: var(--violet-8);
    --accent-a7: var(--violet-7);
    --accent-a6: var(--violet-6);
    --accent-a5: var(--violet-5);
    --accent-a4: var(--violet-4);
    --accent-a3: var(--violet-3);
    --accent-a2: var(--violet-2);
    --accent-a1: var(--violet-1);

    --accent-a12: color-mix(in srgb, var(--accent-12), transparent 0%);
    --accent-a11: color-mix(in srgb, var(--accent-11), transparent 0%);
    --accent-a10: color-mix(in srgb, var(--accent-10), transparent 0%);
    --accent-a9: color-mix(in srgb, var(--accent-9) 97%, transparent); // 18
    --accent-a8: color-mix(in srgb, var(--accent-8) 79%, transparent); // 11
    --accent-a7: color-mix(in srgb, var(--accent-7) 68%, transparent); // 11
    --accent-a6: color-mix(in srgb, var(--accent-6) 57%, transparent); // 11
    --accent-a5: color-mix(in srgb, var(--accent-5) 46%, transparent); // 11
    --accent-a4: color-mix(in srgb, var(--accent-4) 35%, transparent); // 11
    --accent-a3: color-mix(in srgb, var(--accent-3) 24%, transparent); // 11
    --accent-a2: color-mix(in srgb, var(--accent-2) 13%, transparent); // 11
    --accent-a1: color-mix(in srgb, var(--accent-1) 3%, transparent);
  }
}
