@import '/src/shared/styles/breakpoints';

.mainLayoutWrapper {
  --h-header: 10rem;

  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  grid-template: 1fr/1fr;
}

.content {
  grid-area: content;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper.contentWrapper {
  padding: 3rem 5rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.contentWrapperWithoutChat.contentWrapperWithoutChat {
  margin: 0 auto;
  max-width: 150rem;
}

.scrollArea {
  & > :global(.rt-ScrollAreaScrollbar) {
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
  }

  /* NOTE: tricky hack to make friends with the Radix and Swiper */
  & > :global(.rt-ScrollAreaViewport > div) {
    display: initial !important;
  }
}

.chatOpenBtn.chatOpenBtn.chatOpenBtn {
  border-radius: 50%;
  cursor: pointer;

  @media screen and (width < $lg) {
    display: none;
  }

  @media screen and (width < $xs) {
    display: initial;
  }
}

.footer {
  grid-area: footer;
  padding: 2.5rem;
  height: 38rem;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media screen and (width < $sm) {
    padding: 2rem;
    flex-direction: column;
  }

  .footerMainDescription {
    // max-width: 62rem;
    color: var(--gray-6);
  }

  .footerLink.footerLink {
    color: var(--gray-8);
    text-decoration: none;
  }

  .footerMainContainer {
    grid-template-columns: 1.2fr 1fr;
    gap: 4.5rem;

    @media screen and (width < $sm) {
      grid-template-columns: 1fr;
    }
  }

  .footerLinksContainer {
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 69rem; // 😉
    width: 100%;

    @media screen and (width < $sm) {
      grid-template-columns: 1fr 1fr;
      max-width: auto;
    }
  }
}
